.games {
  display: flex;
  align-items: center;
  width: 100%;
}
.games__container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.game {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  max-width: 445px;
  padding: 20px 40px;
  background: $white;
  border-radius: 20px;
  box-shadow: $game-block_shadow;
}
.game__title {
  font-size: 24px;
  font-weight: 700;
  color: $black;
}
.game__description {
  flex-grow: 1;
  text-align: center;
}
.game__block-levels {
  display: flex;
  column-gap: 10px;
  padding: 5px;
}
.game__level {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  color: $white;
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;

  &--1 {
    background: $difficult_btn;
  }
  &--2 {
    background: $btn-lvl-2;
  }
  &--3 {
    background: $btn-lvl-3;
  }
  &--4 {
    background: $btn-lvl-4;
  }
  &--5 {
    background: $btn-lvl-5;
  }
  &--6 {
    background: $btn-lvl-6;
  }

  &:hover {
    opacity: 1;
  }
}