.header {
  padding: 10px 0;
  background: $white;
  box-shadow: $header_shadow;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__nav {
  display: flex;
  column-gap: 60px;

  @media screen and (max-width: $point_2) {
    display: none;
    column-gap: 30px;
  }

  @media screen and (max-width: $point_3) {

  }
}
.header__nav-link {
  padding: 15px 0;
  color: $text;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $primery_hover;
  }
}
.header__auth {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 10px;
  padding: 0 15px;

  @media screen and (max-width: $point_2) {
    flex-grow: 1;
  }
}
