/* COLORS */
$white: #FFF;
$text: #39393B;
$bg: #FAFAFA;
$inactive: #D9D9D9;
$lines: #A6A6A6;
$primery_accent: #3636DB;
$primery_hover: #3939FF;
$difficult_btn: #F2695C;
$footer: #39393B;
$correct: #28c38a;


/* SHADOW */
$header_shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);

// ADAPTIVE:
$point_1: 1440.98px;
