/* COLORS */
$white: #FFF;
$black: #000;
$text: #39393B;
$bg: #FAFAFA;
$inactive: #D9D9D9;
$lines: #A6A6A6;
$primery_accent: #3636DB;
$primery_hover: #3939FF;
$difficult_btn: #F2695C;
$btn-lvl-2: #F2A663;
$btn-lvl-3: #FAAABA;
$btn-lvl-4: #88BFB0;
$btn-lvl-5: #60A4BF;
$btn-lvl-6: #59484D;
$footer: #39393B;
$correct: #48CE76;
$prime: #efc83e;


/* SHADOW */
$header_shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
$game-block_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// ADAPTIVE:
$point_1: 1440.98px;
$point_1-1: 1279.98px;
$point_2: 991.98px;
$point_3: 767.98px;
$point_4: 575.98px;